@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");

/* BOILERPLATE */

:root {
  --navy: #1f2937;
  --blue: #3882f6;
  --white: #f9faf8;
  --gray: #e5e7eb;

  --font-xl: 3rem; /* 48px */
  --font-l: 2.25rem; /* 36px */
  --font-m: 1.5rem; /* 24px */
  --font-s: 1.125rem; /* 18px */

  --max: 1000px;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  color: var(--gray);
  text-decoration: none;
  cursor: pointer;
}

/* HEADER */

.header {
  background: var(--navy);
}

.menu {
  display: flex;
  justify-content: space-between;
  max-width: var(--max);
  margin: 0 auto;
  padding-block: 0.6rem;
}

.menu__logo {
  font-size: var(--font-m);
  font-weight: 700;
  color: var(--white);
}

.menu__items {
  display: flex;
  gap: 2rem;
  font-size: var(--font-s);
}

.hero {
  max-width: var(--max);
  margin: 0 auto;
  padding-block: 3rem;
  display: flex;
  gap: 1rem;
}

.hero__content {
  flex: 1;
}

.hero__title {
  font-size: var(--font-xl);
  font-weight: 900;
  margin-block: 0;
  color: var(--white);
}

.hero__text {
  color: var(--gray);
  font-size: var(--font-s);
  margin-block: 0.8rem;
}

.hero__image {
  background: var(--gray) url("https://picsum.photos/600") center no-repeat;
  background-size: cover;
  flex: 1;
}

.link {
  display: inline-block;
  background: var(--blue);
  padding: 0.5rem 2rem;
  border-radius: 0.4rem;

  a {
    color: var(--white);
  }
}

/* SECTIONS */

.section {
  padding-block: 2rem;
  & > * {
    max-width: var(--max);
    margin: 0 auto;
  }
}

.section--gray {
  background: var(--gray);
}

/* INFO SECTION */

.info {
  padding-bottom: 3rem;
}

.info__title {
  font-size: var(--font-l);
  font-weight: 900;
  text-align: center;
  margin-block: 0 2rem;
}

.info__items {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.item {
  flex: auto;
  max-width: 10rem;
}

.item__image {
  width: 100%;
  height: 10rem;
  border: 0.2rem solid var(--blue);
  border-radius: 0.4rem;
  margin-bottom: 0.4rem;
}

.item__description {
  font-size: 1rem;
  text-align: center;
  color: #333;
}
